@model CategoryDto
@{
    Layout = "_AreaLayout";
}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Courses</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" asp-area="Admin" asp-route-id="@Model.Id" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" value="@Model.Name">
                        </div>

                        <input type="submit" class="btn btn-primary" value="Save" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
