@{
    Layout = "_Layout";
    ViewData["Title"] = "Student Dashboard";
}

@section PageCss {
    <link rel="stylesheet" href="~/css/dashboard.css">
    <style>
        .main {
            flex-direction: row;
            justify-content: space-between;
        }
    </style>
}

@section Scripts {
    <script src="/js/student-dashboard.js" defer></script>
}

<div class="grid">

    <div class="grid-item chart-grid-item flex flex-col">

        <div class="text flex flex-col just-center">
            <h3>155+</h3>
            <span>Completed Courses</span>
        </div>

        <div class="chart flex items-center just-between">
            <div class="icon blue flex items-center just-center">
                <i class="fa-solid fa-book-open"></i>
            </div>
            <div style="border-radius: 20px;" id="chart-1"></div>
        </div>
    </div>

    <div class="grid-item chart-grid-item flex flex-col">

        <div class="text flex flex-col just-center">
            <h3>39+</h3>
            <span>Earned Certificate</span>
        </div>

        <div class="chart flex items-center just-between">
            <div class="icon green flex items-center just-center">
                <i class="fa-solid fa-award"></i>
            </div>
            <div style="border-radius: 20px;" id="chart-2"></div>
        </div>
    </div>

    <div class="grid-item chart-grid-item flex flex-col">

        <div class="text flex flex-col just-center">
            <h3>25+</h3>
            <span>Course in Progress</span>
        </div>

        <div class="chart flex items-center just-between">
            <div class="icon purple flex items-center just-center">
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div style="border-radius: 20px;" id="chart-3"></div>
        </div>
    </div>

    <div class="grid-item chart-grid-item flex flex-col">

        <div class="text flex flex-col just-center">
            <h3>155+</h3>
            <span>Completed Courses</span>
        </div>

        <div class="chart flex items-center just-between">
            <div class="icon orange flex items-center just-center">
                <i class="fa-solid fa-book"></i>
            </div>
            <div style="border-radius: 20px;" id="chart-4"></div>
        </div>
    </div>

    <div class="grid-item flex flex-col grid-study-chart c-full">
        <div style="border-radius: 20px;" id="chart-5"></div>
    </div>

    <div class="grid-item flex flex-col r-third c-full ">
        <span class="title">
            Top Courses Picked for You
        </span>

        <div class="courses flex items-center just-center">

            <div class="course flex flex-col">

                <div class="image flex items-center just-center">
                    <img src="/img/course-img1.png" alt="image">
                </div>

                <span class="category dev">Development</span>

                <h6 class="title">Full Stack Web Development</h6>

                <a class="author flex items-center">
                    <img class="profile-img" ` src="/img/profile.png" alt="profile">

                    <span>Created by <b>Zakir Aliyev</b><i class="fa-solid fa-circle-check" style="color: #3479f9;"></i></span>
                </a>

                <hr>

                <div class="info flex items-center">
                    <div class="lessons flex items-center">
                        <i class="fa-solid fa-video"></i>
                        <span>24 Lessons</span>
                    </div>

                    <div class="hours flex items-center">
                        <i class="fa-solid fa-clock"></i>
                        <span>40 Hours</span>
                    </div>
                </div>

                <div class="actions flex items-center just-between">
                    <div class="rating flex items-center">
                        <i class="fa-solid fa-star"></i>
                        <span>4.9 (12K)</span>
                    </div>

                    <a class="pointer">
                        View Course
                    </a>
                </div>
            </div>

            <div class="course flex flex-col">

                <div class="image flex items-center just-center">
                    <img src="/img/course-img1.png" alt="image">
                </div>

                <span class="category design">Design</span>

                <h6 class="title">Full Professional Web Design Course</h6>

                <a class="author flex items-center">
                    <img class="profile-img" ` src="/img/profile.png" alt="profile">

                    <span>Created by <b>Mehdi Abbasov</b></span>
                </a>

                <hr>

                <div class="info flex items-center">
                    <div class="lessons flex items-center">
                        <i class="fa-solid fa-video"></i>
                        <span>24 Lessons</span>
                    </div>

                    <div class="hours flex items-center">
                        <i class="fa-solid fa-clock"></i>
                        <span>40 Hours</span>
                    </div>
                </div>

                <div class="actions flex items-center just-between">
                    <div class="rating flex items-center">
                        <i class="fa-solid fa-star"></i>
                        <span>4.9 (12K)</span>
                    </div>

                    <a class="pointer">
                        View Course
                    </a>
                </div>
            </div>

            <div class="course flex flex-col">

                <div class="image flex items-center just-center">
                    <img src="/img/course-img1.png" alt="image">
                </div>

                <span class="category front">Frontend</span>

                <h6 class="title">From Beginner To Senior Front-End Development</h6>

                <a class="author flex items-center">
                    <img class="profile-img" ` src="/img/profile.png" alt="profile">

                    <span>Created by <b>Alixan Ekb...</b><i class="fa-solid fa-circle-check" style="color: #3479f9;"></i></span>
                </a>

                <hr>

                <div class="info flex items-center">
                    <div class="lessons flex items-center">
                        <i class="fa-solid fa-video"></i>
                        <span>24 Lessons</span>
                    </div>

                    <div class="hours flex items-center">
                        <i class="fa-solid fa-clock"></i>
                        <span>40 Hours</span>
                    </div>
                </div>

                <div class="actions flex items-center just-between">
                    <div class="rating flex items-center">
                        <i class="fa-solid fa-star"></i>
                        <span>4.9 (12K)</span>
                    </div>

                    <a class="pointer">
                        View Course
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-right">
    <div class="grid-item itm1 flex flex-col">
        <div class="title">
            <h4>Popular mentors</h4>
        </div>

        <div class="assignments flex flex-col items-center just-center">

            <div class="assignment flex items-center pointer">
                <div class="icon flex items-center just-center">
                    <img src="/img/profile.png" style="width: 40px; height: 40px; border-radius: 50%;" alt="">
                </div>

                <div class="info flex flex-col">
                    <span class="title">
                        Zakir Aliyev
                        <i class="fa-solid fa-circle-check" style="color: #3479f9; font-size: 12px; margin-left: -5px;"></i>
                    </span>
                    <span class="deadline">Web Designer</span>
                </div>
            </div>

            <div class="assignment flex items-center pointer">
                <div class="icon flex items-center just-center">
                    <img src="/img/profile.png" style="width: 40px; height: 40px; border-radius: 50%;" alt="">
                </div>

                <div class="info flex flex-col">
                    <span class="title">
                        Mehdi Memmed..
                        <i class="fa-solid fa-circle-check" style="color: #3479f9; font-size: 12px; margin-left: -5px;"></i>
                    </span>
                    <span class="deadline">AI Developer</span>
                </div>
            </div>

            <div class="assignment flex items-center pointer">
                <div class="icon flex items-center just-center">
                    <img src="/img/profile.png" style="width: 40px; height: 40px; border-radius: 50%;" alt="">
                </div>

                <div class="info flex flex-col">
                    <span class="title">
                        Nihad Nesirli
                        <i class="fa-solid fa-circle-check" style="color: #3479f9; font-size: 12px; margin-left: -5px;"></i>
                    </span>
                    <span class="deadline">Back-End Developer</span>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-item itm2 flex flex-col">
        <div class="title flex items-center just-between">
            <h4>Assignments</h4>
            <a href="/assignments">see all</a>
        </div>


        <div class="assignments flex flex-col items-center just-center">

            <div class="assignment flex items-center pointer">
                <div class="icon flex items-center just-center">
                    <i class="fa-solid fa-check"></i>
                </div>

                <div class="info flex flex-col">
                    <span class="title">To Do Research</span>
                    <span class="deadline">Due in 5 days</span>
                </div>
            </div>

            <div class="assignment flex items-center pointer">
                <div class="icon flex items-center just-center">
                    <i class="fa-solid fa-check"></i>
                </div>

                <div class="info flex flex-col">
                    <span class="title">Write simple website</span>
                    <span class="deadline">Due in 45 days</span>
                </div>
            </div>

            <div class="assignment flex items-center pointer">
                <div class="icon flex items-center just-center">
                    <i class="fa-solid fa-check"></i>
                </div>

                <div class="info flex flex-col">
                    <span class="title">Make a db</span>
                    <span class="deadline">Due in 12 days</span>
                </div>
            </div>
        </div>

    </div>

    <div class="grid-item itm3">
        <h3>My Progress</h3>

        <div id="chart-prog"></div>

    </div>
</div>