@model IEnumerable<CategoryDto>

<select class="form-select form-select-md mb-3" name="Category">
    <option selected disabled value="none">Select category</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>